@import "../../../styles.scss";

.overview {
    background-color: $dark-blue;
    height: 100%;
    //margin: 16px -16px 0 -16px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    position: fixed;
    width: 100%;
    top: 6rem;

    //display: flex;

    .content {
        margin: 16px;
        //height: 100%;
        //width: 100%;
    }

    .wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 250px);  
    }

    // Scrollbar
    ::-webkit-scrollbar {
        width: 0rem;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $accent;
    } 
}

