@import "../../../styles.scss";

.overview {
    background-color: $dark-blue;
    height: 100%;
    margin: 16px -16px 0 -16px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    position: absolute;
    width: 100%;

    //display: flex;

    .content {
        margin: 16px;
        //height: 100%;
        //width: 100%;
    }
}

