<div class="todo-detail">
    <div class="content">
        <div class="todo">
            <div class="todo-main" [class.done]="dataService.selectedTodo.isDone">
                <svg (click)="dataService.triggerDone(currentTodo)"  id="todo-check" width="25" height="25" viewBox="0 0 25 25">
                    <g transform="translate(-15 -19.348)">
                        <g class="cls-1" transform="translate(15 19.348)">
                          <rect class="cls-3" width="25" height="25" rx="8"/>
                          <rect class="cls-4" x="0.5" y="0.5" width="24" height="24" rx="7.5"/>
                        </g>
                        <path class="cls-2" d="M3.3,14.605l6.828,2.649L9.959,2.687" transform="matrix(0.875, 0.485, -0.485, 0.875, 25.947, 19.051)"/>
                      </g>
                </svg>
    
                <div class="todo-content">
                    <p id="todo-name">{{currentTodo.title}}</p>
                </div>
            </div>

            <app-subtodo [selectedSubTodo]="subTodo" *ngFor="let subTodo of dataService.selectedTodo.subTodos"></app-subtodo>

            <div class="todo-add">
                <svg id="add" width="15.186" height="14.954" viewBox="0 0 15.186 14.954">
                    <g (click)="addSubTodo()" transform="translate(1 -3.335)">
                      <path class="cls-1" d="M0,0H13.186" transform="translate(0 10.881)"/>
                      <path class="cls-1" d="M0,0H12.954" transform="translate(6.653 4.335) rotate(90)"/>
                    </g>
                  </svg>

                  <div class="todo-content">
                    <input type="text" [(ngModel)]="subTodo$.title" placeholder="Next step" (keyup.enter)="addSubTodo()">
                </div>
            </div>
            
        </div>
        <div class="properties">
            <div class="reminder">
                <svg width="18.619" height="21.279" viewBox="0 0 18.619 21.279">
                    <path id="bell-solid" class="cls-1" d="M9.309,21.279a2.659,2.659,0,0,0,2.659-2.66H6.651A2.659,2.659,0,0,0,9.309,21.279Zm8.952-6.222c-.8-.863-2.305-2.161-2.305-6.412A6.563,6.563,0,0,0,10.639,2.2V1.33a1.329,1.329,0,1,0-2.658,0V2.2A6.563,6.563,0,0,0,2.663,8.645c0,4.252-1.5,5.55-2.305,6.412a1.3,1.3,0,0,0-.358.9,1.331,1.331,0,0,0,1.334,1.33H17.285a1.331,1.331,0,0,0,1.334-1.33A1.3,1.3,0,0,0,18.261,15.057Z" transform="translate(0)"/>
                </svg>
                <div class="content">
                    <p>Reminder</p>
                    <p>Sub Text</p>
                </div>
            </div>
            <div class="dueto">
                <p>Fällig bis</p>
                <p>Due to</p>
                <!--<mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <button mat-raised-button (click)="picker.open()">Open</button>-->
            </div>
            <div class="repeat">
                <p>Repeat</p>
                <p>When</p>
            </div>
            <div class="attachment">
                <p>Datei hinzufügen</p>
            </div>
        </div>
        <div class="notes">
            <p>Notes</p>
        </div>
    </div>
</div>