<div class="nav-detail-mobile">
    <div>
        <svg routerLink="/todos" id="back" width="23" height="23" viewBox="0 0 21 21">
            <g transform="translate(-16 -37)">
                <rect id="Rechteck_8" data-name="Rechteck 8" class="cls-1" width="21" height="10" rx="3" transform="translate(16 37)"/>
                <rect id="Rechteck_11" data-name="Rechteck 11" class="cls-2" width="21" height="10" rx="3" transform="translate(16 48)"/>
              </g>
          </svg>
    </div>
    <h1>{{dataService.selectedBoard.name}}</h1>
</div>
