<app-nav-boards-mobile *ngIf="dataService.isMobile()"></app-nav-boards-mobile>
<div class="mobile-boards" [class.desktop]="!dataService.isMobile()">
  <div class="content">
    <div class="greeting">
      <h1>Your boards</h1>
      <p>Hi {{dataService.selectedUser.username | titlecase}}, what do you want to do today?</p>
    </div>

    <div class="boards" [class.desktop]="!dataService.isMobile()">
      <app-board
        class="ngfor"
        [selectedBoard]="board"
        *ngFor="let board of dataService.boards"
      ></app-board>
    </div>
  </div>
</div>
