@import "../../../styles.scss";

.mobile-boards {
    //height: 100vh;
    background: $dark-blue;
    padding-top: 3rem;
    .content {
        .greeting {
            margin: 1rem;
            h1 {
                font-family: $font1;
                font-weight: 600;
                margin-bottom: 0;
                font-size: 1.875rem;
            }
            p {
                margin-top: 0;
                margin-bottom: 3rem;
                font-size: 0.8rem;
            }
        }

        .boards {
            margin: 1rem;
            margin-right: 0;
            display: inline-flex;
            width: -webkit-fill-available;
            flex-wrap: wrap;

            .ngfor {
                flex: 1;
            }

            
        }
    }
}