<div class="login-form">
    <div class="logo-img">
        <img id="logo" src="../../../assets/svg/taco.svg" alt="tacotodo-logo">
    </div>
    <div class="login-data">
        <div class="username">
            <img src="../../../assets/svg/communications.svg" alt="username-icon">
            <input type="text" placeholder="Username / E-Mail">
        </div>

        <div class="password">
            <img src="../../../assets/svg/lock-solid.svg" alt="password-icon">
            <input type="password" placeholder="Password">
        </div>

        <div class="remember-me">
            <input type="checkbox" id="cb-remember-me">
            <label for="cb-remember-me">Remember me?</label>
        </div>

        <button class="login-btn">Login</button>

        <a id="forgot-pw" href="#">Forgot password?</a>

        <label id="missing-account">Don't have an account yet?</label>
        <a href="/register" id="a-sign-up">Sign up</a>
    </div>
</div>