.nav-mobile {
    //margin-bottom: 15px;
    display: flex;
    text-align: center;
    
    div {
        flex-grow: 1;
        align-self: center;

        #nav-mobile-back {
            float: left;
        }

        #nav-mobile-search {
            float: right;
        }
    }

    
}
