@import "../../../styles.scss";

.nav-mobile {
    display: flex;
    text-align: center;
    width: 100%;
    background: $light-blue;

    div {
        flex-grow: 1;
        align-self: center;

        #back {
            float: left;
            margin: 1.2rem;

            .cls-1 {
                fill: $accent;
            }
        
            .cls-2 {
                fill: $accent;
                fill-opacity: 0.45;
            }
        }

        #search {
            float: right;
            margin: 1.2rem;

            .cls-1 {
                isolation: isolate;
            }
        
            .cls-2 {
                fill: $white;
                stroke: $white;
            }
        }
    } 
}
