@import "../../../styles.scss";

.nav-mobile {
    //margin-bottom: 15px;
    display: flex;
    text-align: center;
    //position: fixed;
    //top: 0;
    //left: 16px;
    //right: 16px;
    //z-index: 1;
    width: 100%;
    background: $light-blue;

    div {
        flex-grow: 1;
        align-self: center;

        #nav-mobile-back {
            float: left;
            margin: 1.2rem;
        }

        #nav-mobile-search {
            float: right;
            margin: 1.2rem;
        }
    }

    
}
