<div class="nav-mobile">
    <div>
        <svg routerLink="/boards" id="back" width="23" height="23" viewBox="0 0 21 21">
            <g transform="translate(-16 -37)">
              <rect id="Rechteck_8" data-name="Rechteck 8" class="cls-1" width="10" height="10" rx="3" transform="translate(16 37)"/>
              <rect id="Rechteck_9" data-name="Rechteck 9" class="cls-2" width="10" height="10" rx="3" transform="translate(27 37)"/>
              <rect id="Rechteck_10" data-name="Rechteck 10" class="cls-2" width="10" height="10" rx="3" transform="translate(16 48)"/>
              <rect id="Rechteck_11" data-name="Rechteck 11" class="cls-2" width="10" height="10" rx="3" transform="translate(27 48)"/>
            </g>
          </svg>
    </div>
    <h1>{{dataService.selectedBoard.name}}</h1>
    <div>
        <svg id="search" width="21.585" height="21.585" viewBox="0 0 21.585 21.585">
          <g class="cls-1" transform="translate(11.5 -9.5)">
            <g transform="translate(-11 10)">
              <path class="cls-2" d="M20.4,19.194,14.44,13.231a8.142,8.142,0,1,0-1.21,1.21L19.194,20.4a.428.428,0,0,0,.6,0l.6-.6A.428.428,0,0,0,20.4,19.194ZM8.126,14.542a6.415,6.415,0,1,1,6.415-6.415A6.422,6.422,0,0,1,8.126,14.542Z" transform="translate(0 0)"/>
            </g>
          </g>
        </svg>
    </div>
</div>
