<div class="panel">
    <h1>Overview</h1>
    <div class="content">
        <div class="element">
            <h2>Users</h2>
            <span>
                <p>User gesamt:</p>
                <p id="placeholder"></p>
                <p>12</p>
            </span>
            <span>
                <p>Neue User heute:</p>
                <p id="placeholder"></p>
                <p>2</p>
            </span>
            <span>
                <p>Neue User gestern:</p>
                <p id="placeholder"></p>
                <p>6</p>
            </span>
        </div>
        <div class="element">
            <h2>Todos</h2>
            <span>
                <p>Todo's gesamt:</p>
                <p id="placeholder"></p>
                <p>174</p>
            </span>
            <span>
                <p>Todo's ∅ pro user:</p>
                <p id="placeholder"></p>
                <p>16.34</p>
            </span>
            <span>
                <p>Todo's ∅ pro board:</p>
                <p id="placeholder"></p>
                <p>7.45</p>
            </span>
        </div>
        <div class="element">
            <h2>SubTodos</h2>
            <span>
                <p>SubTodo's gesamt:</p>
                <p id="placeholder"></p>
                <p>312</p>
            </span>
            <span>
                <p>SubTodo's ∅ pro Todo:</p>
                <p id="placeholder"></p>
                <p>4.65</p>
            </span>
            <span>
                <p>SubTodo's ∅ pro user:</p>
                <p id="placeholder"></p>
                <p>12.15</p>
            </span>
            <span>
                <p>SubTodo's ∅ pro board:</p>
                <p id="placeholder"></p>
                <p>54.23</p>
            </span>
        </div>
        <div class="element">
            <h2>Last 5 Log-ins</h2>
            <div class="border">
                <span>
                    <p>[24.06.2020 12:34:23]:</p>
                    <p id="placeholder"></p>
                    <p>Alex</p>
                </span>
                <span>
                    <p>[24.06.2020 14:38:45]:</p>
                    <p id="placeholder"></p>
                    <p>Alex</p>
                </span>
                <span>
                    <p>[24.06.2020 16:25:47]:</p>
                    <p id="placeholder"></p>
                    <p>Andreas</p>
                </span>
                <span>
                    <p>[24.06.2020 16:34:25]:</p>
                    <p id="placeholder"></p>
                    <p>Laura</p>
                </span>
                <span>
                    <p>[24.06.2020 14:38:45]:</p>
                    <p id="placeholder"></p>
                    <p>Alex</p>
                </span>
            </div>
        </div>
        <div class="element double">
            <h2>Log</h2>
            <div class="border">
                <span>
                    <p>[24.06.2020 12:34:23]: </p>
                    <p>Todo "Essen einkaufen" von Alex erstellt</p>
                </span>
                <span>
                    <p>[24.06.2020 14:38:45]: </p>
                    <p>SubTodo "Bananen" von Alex zu "Essen einkaufen" hinzugefügt</p>
                </span>
                <span>
                    <p>[24.06.2020 16:25:47]: </p>
                    <p>SubTodo "Erdnüsse" von Alex zu "Essen einkaufen" hinzugefügt</p>
                </span>
                <span>
                    <p>[24.06.2020 16:34:25]: </p>
                    <p>Todo "Fenster putzen von Alex erstellt</p>
                </span>
                <span>
                    <p>[24.06.2020 14:38:45]: </p>
                    <p>Todo "Fenster putzen von Alex abgehakt</p>
                </span>
            </div>
            
        </div>
    </div>
</div>