@import '../../../styles.scss';

.panel {
  h1 {
    margin-bottom: 2rem;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .element {
      h2 {
        margin: 0 0 1rem 0;
      }
      margin-right: 2rem;
      margin-bottom: 2rem;
      padding: 2rem;
      background-color: $light-blue;
      border-radius: 1rem;
      width: 23rem;
      height: 14rem;
      span {
        display: flex;
        p {
          margin: 0 0 0.3rem 0;
          font-size: $font-small;
        }
        #placeholder {
          flex: 1;
        }
      }
      .border {
        border: 2px solid $grey;
        padding: 0.3rem;
      }
    }
    .element.double {
      width: 52rem;
    }
  }
}
