/* You can add global styles to this file, and also import other style files */

// Color Palette
$dark-blue: #101025;
$light-blue: #181832;
$white: #ECF1FF;
$purple: #7E7EF7;
$grey: #9A9A9A;

// Fonts
$font1: "Segoe UI";
$font2: "Montserrat";
$font-small: 20px;


html { 
    background: $light-blue; 
}
body {
    margin: 16px;
}
h1,h2,h3,h4,h5,h6 {
    color: $white;
    font-family: $font2;
    font-weight: 100;
}
h1 {
    font-size: 1.7rem;
}

p {
    font-family: $font1;
    color: $white;
}