// Color Palette
$dark-blue: #101025;        // Background
$light-blue: #181832;       // Elements
$white: #ECF1FF;            // Text
$accent: #7E7EF7;           // Accent color
$grey: #9A9A9A;             // Text / Todo done

// Fonts
$font1: "Segoe UI";
$font2: "Montserrat";
$font-sub: 1rem;        // Sub-todo
$font-small: 1.25rem;
$font-big: 1.5rem;


html {
    background: $light-blue;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    color: $white;
    font-family: $font2;
    font-weight: 100;
}
h1 {
    font-size: 1.7rem;
}

p {
  font-family: $font1;
  color: $white;
}
