<div class="register-form">
    <div class="logo-img">
        <img id="logo" src="../../../assets/svg/taco.svg" alt="tacotodo-logo">
    </div>
    <div class="register-data">
        <div class="username">
            <img src="../../../assets/svg/user.svg" alt="username-icon">
            <input type="text" placeholder="Username">
        </div>

        <div class="password">
            <img src="../../../assets/svg/lock-solid.svg" alt="password-icon">
            <input type="password" placeholder="Password">
        </div>

        <div class="email">
            <img src="../../../assets/svg/communications.svg" alt="password-icon">
            <input type="email" placeholder="E-Mail">
        </div>

        <button class="signup-btn">Sign up</button>

        <label id="missing-account">Already have an account?</label>
        <a href="/login" id="a-login">Log In</a>
    </div>
</div>