<div class="register-form">
    <div class="logo-img">
        <img id="logo" src="../../../assets/svg/taco.svg" alt="tacotodo-logo">
    </div>
    <!--     <div class="register-data">
        <div class="username">
            <svg width="21.082" height="25.639" viewBox="0 0 21.082 25.639">
                <g id="Gruppe_34" data-name="Gruppe 34" transform="translate(0 -370)">
                  <g id="Gruppe_31" data-name="Gruppe 31" transform="translate(4.857 370)">
                    <g id="Gruppe_30" data-name="Gruppe 30">
                      <path id="Pfad_39" data-name="Pfad 39" class="cls-1" d="M148.1,0a5.9,5.9,0,0,0-5.709,6.059,5.7,5.7,0,1,0,11.367,0A5.864,5.864,0,0,0,148.1,0Z" transform="translate(-142.39 0)"/>
                    </g>
                  </g>
                  <g id="Gruppe_33" data-name="Gruppe 33" transform="translate(0 383.521)">
                    <g id="Gruppe_32" data-name="Gruppe 32">
                      <path id="Pfad_40" data-name="Pfad 40" class="cls-1" d="M55.956,270A10.549,10.549,0,0,0,45.39,280.516v1.6H66.472v-1.6A10.506,10.506,0,0,0,55.956,270Z" transform="translate(-45.39 -270)"/>
                    </g>
                  </g>
                </g>
              </svg>
            <input type="text" [(ngModel)]="dataService.selectedUser.username"  placeholder="Username">
        </div>

        <div class="password">
            <svg width="22.456" height="25.663" viewBox="0 0 22.456 25.663">
                <path id="lock-solid" class="cls-1" d="M20.05,11.228h-1.2V7.619a7.619,7.619,0,1,0-15.238,0v3.609h-1.2A2.407,2.407,0,0,0,0,13.634v9.624a2.407,2.407,0,0,0,2.406,2.406H20.05a2.407,2.407,0,0,0,2.406-2.406V13.634A2.407,2.407,0,0,0,20.05,11.228Zm-5.213,0H7.619V7.619a3.609,3.609,0,1,1,7.218,0Z"/>
            </svg>
            <input type="password" [(ngModel)]="dataService.selectedUser.password" placeholder="Password">
        </div>

        <div class="email">
            <svg width="21.071" height="23.354" viewBox="0 0 21.071 23.354">
                <g id="communications" transform="translate(-1 -0.05)">
                  <path id="Pfad_41" data-name="Pfad 41" class="cls-1" d="M21,7.483,12.8.577a2.294,2.294,0,0,0-2.927,0L1.8,7.483l9.6,7.492Z" transform="translate(0.136 0)"/>
                  <path id="Pfad_42" data-name="Pfad 42" class="cls-1" d="M12.238,15.926a1.065,1.065,0,0,1-1.4,0L1,8.317V19.672a2.348,2.348,0,0,0,2.341,2.341H19.73a2.348,2.348,0,0,0,2.341-2.341V8.2Z" transform="translate(0 1.391)"/>
                </g>
            </svg>
            <input type="email" [(ngModel)]="dataService.selectedUser.email" (keyup.enter)="dataService.register(dataService.selectedUser)" placeholder="E-Mail">
        </div>

        <button (click)="dataService.register(dataService.selectedUser)" class="signup-btn">Sign up</button>

        <label id="missing-account">Already have an account?</label>
        <a href="/login" id="a-login">Log In</a>
    </div> -->

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="register-data">
            <div class="username">
                <img src="../../../assets/svg/user.svg" alt="username-icon">
                <input type="text" placeholder="Username" formControlName="username">
            </div>

            <div class="password">
                <img src="../../../assets/svg/lock-solid.svg" alt="password-icon">
                <input type="password" placeholder="Password" formControlName="password">
            </div>

            <div class="email">
                <img src="../../../assets/svg/communications.svg" alt="password-icon">
                <input type="email" placeholder="E-Mail" formControlName="email">
            </div>

            <button class="signup-btn" type="submit">Sign up</button>

            <label id="missing-account">Already have an account?</label>
            <a href="/login" id="a-login">Log In</a>
        </div>
    </form>
</div>